node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.cache
dist
.vscode
.DS_Store
*.pem
pnpm-lock.yaml
.pnpm-debug.log
.pnpm-debug.log
.yarn-debug.log*
.yarn-error.log*
.yarn-integrity
