---
const { id } = Astro.props;
---

<section id={id} class="px-5 flex justify-center overflow-hidden lg:block">
  <div class="w-full max-w-[var(--content-max-width)] mx-auto">
    <slot />
  </div>
</section>
