---
// Template Components
import PricingSection from '../templates/sections/PricingSection.astro'; // Keep if this is actually a block wrapper
import PostContent from '../templates/sections/PostContent.astro'; // Keep for blog


// Block Components (KEEP ALL OF THESE)
import HeroBlock from '../components/blocks/HeroBlock.astro';
import StatsBlock from '../components/blocks/StatsBlock.astro';
import DomainSearchBlock from '../components/blocks/DomainSearchBlock.astro';
import TrustIndicatorsBlock from '../components/blocks/TrustIndicatorsBlock.astro';
import SectionHeaderBlock from '../components/blocks/SectionHeaderBlock.astro';
import CTABlock from '../components/blocks/CTABlock.astro';
import GridLayoutBlock from '../components/blocks/GridLayoutBlock.astro';
import FeatureGridBlock from '../components/blocks/FeatureGridBlock.astro';
import BackgroundElementsBlock from '../components/blocks/BackgroundElementsBlock.astro';
import TestimonialsPlaceholderBlock from '../components/blocks/TestimonialsPlaceholderBlock.astro';
import Services3ColumnBlock from '../components/blocks/Services3ColumnBlock.astro';
import PricingComparisonBlock from '../components/blocks/PricingComparisonBlock.astro';
import ServerSpecsBlock from '../components/blocks/ServerSpecsBlock.astro';
import SecurityBadgesBlock from '../components/blocks/SecurityBadgesBlock.astro';
import ServiceFeatureBlock from '../components/blocks/ServiceFeatureBlock.astro';
import WordPressHostingBlock from '../components/blocks/WordPressHostingBlock.astro';
import VPSHostingBlock from '../components/blocks/VPSHostingBlock.astro';
import CloudHostingBlock from '../components/blocks/CloudHostingBlock.astro';
import PageBuilderBlock from '../components/blocks/PageBuilderBlock.astro';
import DedicatedHostingBlock from '../components/blocks/DedicatedHostingBlock.astro';
import ContactFormBlock from '../components/blocks/ContactFormBlock.astro';
import ServiceGridBlock from '../components/blocks/ServiceGridBlock.astro';
import TeamGridBlock from '../components/blocks/TeamGridBlock.astro';
import TestimonialsBlock from '../components/blocks/TestimonialsBlock.astro';
import LogoGridBlock from '../components/blocks/LogoGridBlock.astro';
import CaseStudiesBlock from '../components/blocks/CaseStudiesBlock.astro';
import ProposalFormBlock from '../components/blocks/ProposalFormBlock.astro';
import FAQBlock from '../components/blocks/FAQBlock.astro';

interface SectionConfig {
  id: string;
  component: string;
  props?: Record<string, any>;
}

interface TemplateConfig {
  layout: string;
  sections: SectionConfig[];
}

interface Props {
  template: TemplateConfig;
  data?: Record<string, any>;
}

const { template, data } = Astro.props;

// Component registry
const components = {
  // Special
  PricingSection,
  PostContent,
  
  // Blocks
  HeroBlock,
  StatsBlock,
  DomainSearchBlock,
  TrustIndicatorsBlock,
  SectionHeaderBlock,
  CTABlock,
  GridLayoutBlock,
  FeatureGridBlock,
  BackgroundElementsBlock,
  TestimonialsPlaceholderBlock,
  Services3ColumnBlock,
  PricingComparisonBlock,
  ServerSpecsBlock,
  SecurityBadgesBlock,
  ServiceFeatureBlock,
  WordPressHostingBlock,
  VPSHostingBlock,
  CloudHostingBlock,
  PageBuilderBlock,
  DedicatedHostingBlock,
  ContactFormBlock,
  ServiceGridBlock,
  TeamGridBlock,
  TestimonialsBlock,
  LogoGridBlock,
  CaseStudiesBlock,
  ProposalFormBlock,
  FAQBlock,
  
  // Aliases (Optional: Map old names to new Blocks to prevent JSON breaking immediately)
  HeroSection: HeroBlock,
  HostingHeroSection: HeroBlock,
  FeaturesSection: FeatureGridBlock,
  ContactSection: ContactFormBlock,
  ServicesSection: ServiceGridBlock,
  TeamSection: TeamGridBlock,
  TestimonialsSection: TestimonialsBlock,
  SponsorsSection: LogoGridBlock,
  CasesSection: CaseStudiesBlock
};
---

<div class="template-renderer">
  {template.sections.map((section: SectionConfig) => {
    const Component = components[section.component as keyof typeof components];

    if (!Component) {
      console.warn(`Component not found: ${section.component}`);
      return null;
    }

    const mergedProps = { ...section.props, ...data };
    
    return (
      <div id={section.id} class={`section section-${section.id}`}>
        <Component {...mergedProps} />
      </div>
    );
  })}
</div>

<style>
  .template-renderer {
    width: 100%;
  }

  .section {
    width: 100%;
  }
</style>
